{% extends 'layout.html'%}

{% block title %}
    History
{% endblock %}

{% block main %}
  <table class="table table-striped">
    
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Transacted</th>
      </tr>
    </thead>
    
    {% for h in history %}
      <tr>
        <td>{{ h.symbol }}</td>
        <td>{{ h.name }}</td>
        <td>{{ h.shares }}</td>
        <td>${{ h.price }}</td>
        <td>${{ h.timestamp }}</td>
      </tr>
    {% endfor %}
    
  </table>
{% endblock %}
